<ons-page id="DetailSPEC">
    <ons-row>
        <ons-col width="100%">
            <div class="DetailPage">
                <div class="imgSPEC DetailImg">
                    <div class="iconDetail">
                        <ons-icon style="color: red;" size="80px" icon="md-play-circle"></ons-icon>
                    </div>
                </div>
            </div>
        </ons-col>
    </ons-row>
    <div class="Detail-title-padding">
        <div class="title-movie">
            007 Spectre (2015)
        </div>
    </div>
    <div class="Detail-title-padding">
        <div class="Detail-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen
        </div>
    </div>
    <div class="Detail-title-padding">
        <div class="title-movie">
            Cast
        </div>
    </div>
    <div class="Detail-title-padding">
        <div class="Detail-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen
        </div>
    </div>
</ons-page>