<ons-page id="HomePage">
    <ons-navigator swipeable id="Navigator_home" page="Home.html"></ons-navigator>
    <template id="Home.html">
        <ons-page id="Home">
            <ons-carousel fullscreen swipeable auto-scroll overscrollable id="CarouselMovie">
            </ons-carousel>
            <div class=" HomeTitle" id="Test">
                <p>Top 10 of 2020</p>
            </div>
            <div class="movie-list">
                <ons-carousel swipeable item-width="150px" id="listMovie">
                </ons-carousel>
            </div>
            <div id="test"></div>
        </ons-page>
    </template>
</ons-page>