<ons-page id="Home">
    <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
        <ons-carousel-item 
        style="background: url(/assets/image/NoTimeToDie.jpg) ;
        background-repeat: no-repeat; 
        background-size: cover;">
        </ons-carousel-item>

        <ons-carousel-item 
        style="background: url(/assets/image/Spectre.jpg) ;
        background-repeat: no-repeat; 
        background-size: cover;">
        </ons-carousel-item>

        <ons-carousel-item 
        style="background: url(/assets/image/SkyFall.jpg) ;
        background-repeat: no-repeat; 
        background-size: cover;">
        </ons-carousel-item>
    </ons-carousel>

    <div style="text-align:left; font-weight: bold; font-size: 20px; padding-left: 10px;">
        <p>Top 10 of 2020</p>
    </div>
</ons-page>